.Layout{
  height: 100%;
}
.Layout .Header{
  background: #fff;
  position: fixed;
  z-index: 1;
  width: 100%;
  padding: 0;
  display: flex;
  box-shadow: 0px 1px 3px #d2d2d2;
}

.Layout .Header .logo{
  background-image: url(/logo.png);
  width: 300px;
  height: 100%;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.Layout .Header .Menu{
  border: none;
  flex-grow: 1;
}

.Layout .Header .Avatar {
  background-color: rgb(43, 154, 245);
  align-self: center;
  margin-right: 50px;
  font-size: 30px;
}
.ant-popover-inner-content {
  padding: 10px 0;
  width: 120px;
}
.ant-popover-inner-content .AvatarNickName{
  line-height: 30px;
  padding-left: 10px;
}
.ant-popover-inner-content .AvatarMenu{
  line-height: 30px;
  padding-left: 10px;
  display: block;
  color: rgba(0, 0, 0, 0.65);
}
.ant-popover-inner-content .AvatarMenu:hover {
  background-color: #eaecec;
}
.AvatarDivider{
  margin: 10px auto;
}

.Layout .Content{
  margin-top: 60px;
  height: 100%;
  overflow: auto;
  padding-top: 10px;
}

.Layout .Content .Wrap{
  display: flex ;
  flex-flow: column;
  align-items: center;
}

.ant-table-small{
  font-size: 12px !important;
}

.ant-picker-range:hover .ant-picker-clear{
  background: transparent;
}

.Tips{
  font-size: 12px;
  text-align: center;
  margin: 30px auto;
}
.Tips ul{
  list-style: decimal;
  display:inline-block;
  text-align:left;
}
.Tips b{
  color: #f77676;
  text-decoration: underline;
}